<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="co.publist">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name="co.publist.core.PubListApp"
        android:allowBackup="true"
        android:icon="@drawable/ic_logo_white_background"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <activity
            android:name="co.publist.features.splash.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".features.login.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.LoginScreen">
        </activity>

        <activity
            android:name=".features.intro.IntroActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.IntroScreen">
        </activity>

        <activity
            android:name=".features.editprofile.EditProfileActivity"
            android:label="@string/edit_profile"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.EditProfileScreen">
        </activity>

        <activity android:name=".features.home.HomeActivity" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
    </application>

</manifest>